    @font-face {
    font-family: '/Akkurat1';
    src: url('/font/Akkurat.eot');
    src: url('/font/Akkurat.eot?#iefix') format('embedded-opentype'),
    url('/font/Akkurat.woff2') format('woff2'),
    url('/font/Akkurat.woff') format('woff'),
    url('/font/Akkurat.ttf') format('truetype'),
    url('/font/Akkurat.svg#Akkurat') format('svg');
    font-style: normal;
}
.name{

    line-height: 1.2;
    color: black;
    margin: 15px;
    margin-left: 0px;
    font-size: 17pt;
    font-weight: 200;
    }

.namebox{
padding-top: 15px;
padding-bottom: 15px;
    
}

.containermargin{

}



a:hover{
    color: black;
}

@media all and (max-width: 500px) { /* screen size until 500px */
    .name {
        font-size: 0.95em; /* 0.8x default size */
        }
        .namebox{
        padding-top: 7px;    
        padding-bottom: 8px; 
               }
    }
